name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Use Node.js 14.8.0
        uses: actions/setup-node@v1
        with:
          node-version: 14.8.0
      
      - name: Restore
        run: npm i

      - name: Build
        run: npx tsc --listEmittedFiles

      - name: Test
        run: npx karma start karma.conf.js --single-run